.productDetail-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  height: 100vh;
}
.productDetail-image {
  width: 40%;
  margin-left: 30px;
  height: 70vh;
}
.productDetail-image img {
  width: 70%;
  height: 95%;
}
.productDetail-info {
  width: 50%;
}
.productDetail-info h1 {
  margin-bottom: 20px;
  font-size: 40px;
  width: 600px;
}
.productDetail-info p {
  font-size: 25px;
  width: 75%;
  text-align: justify;
  margin-bottom: 30px;
}
.productDetail-info .info-price {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.productDetail-info span {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.productDetail-info i {
  font-size: 25px;
  padding: 0px 10px 0px 0px;
}
